## Multi-Label Classification of Responses to the AUT

In [1]:
import tensorflow as tf
import tensorflow_hub as hub
import numpy as np
import pandas as pd
import tensorflow_text


# import data file
data = pd.read_csv("data.csv", encoding='latin-1')
data.head()

,research_id,response_id,respondent_id,object,original_response,cleaned_response,C0,C1,C2,C3,...,C54,C55,C56,C57,C58,C59,C60,C61,C62,C63
0,CES201610,10063.0,648,brick,aambeeld,aambeeld,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,CES201610,5801.0,363,brick,het aanleggen van een weg,aanleggen weg,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2,CES201610,3973.0,237,brick,aannemen,aannemen,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,CES201610,5226.0,300,brick,aannemer,aannemer,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,CES201610,8321.0,555,brick,aarde,aarde,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Universal Sentence Encoder

Now we have out dataset in which we have textual responses of which we need sentence embeddings. Therefore we need to load the USE module from google. You can find this module here:

In [21]:
# a numpy array containing all original responses
responses = data[['original_response']].to_numpy()

module = hub.load('https://tfhub.dev/google/universal-sentence-encoder-multilingual/3')

embeddings = module(responses)

<tf.Tensor: shape=(6000, 512), dtype=float32, numpy=
array([[ 0.16229025,  0.04333057,  0.00637416, ...,  0.07343263,
         0.00262856, -0.00601378],
       [ 0.10729689, -0.04224632, -0.04714422, ..., -0.07493395,
         0.0153184 , -0.0416843 ],
       [ 0.14907403,  0.01869825, -0.07401295, ...,  0.07519432,
        -0.00148616,  0.00360187],
       ...,
       [ 0.0920765 , -0.04973439, -0.01783408, ..., -0.03783512,
         0.0008772 ,  0.04449859],
       [ 0.10626037, -0.01104661, -0.05416604, ...,  0.00600207,
         0.01073212,  0.04955642],
       [ 0.06423309,  0.01322506, -0.0585991 , ..., -0.00220299,
         0.03242864,  0.01757623]], dtype=float32)>

In [22]:
data.insert(7, "embeddings", embeddings, True)

In [23]:
data.head()

,research_id,response_id,respondent_id,object,original_response,cleaned_response,C0,embeddings,C1,C2,...,C54,C55,C56,C57,C58,C59,C60,C61,C62,C63
0,CES201610,10063.0,648,brick,aambeeld,aambeeld,0,"(tf.Tensor(0.16229025, shape=(), dtype=float32...",0,0,...,0,0,0,0,0,0,0,0,0,0
1,CES201610,5801.0,363,brick,het aanleggen van een weg,aanleggen weg,0,"(tf.Tensor(0.10729689, shape=(), dtype=float32...",1,1,...,0,0,0,0,0,0,0,0,0,0
2,CES201610,3973.0,237,brick,aannemen,aannemen,0,"(tf.Tensor(0.14907403, shape=(), dtype=float32...",0,0,...,0,0,0,0,0,0,0,0,0,0
3,CES201610,5226.0,300,brick,aannemer,aannemer,0,"(tf.Tensor(0.11499711, shape=(), dtype=float32...",0,0,...,0,0,1,0,0,0,0,0,0,0
4,CES201610,8321.0,555,brick,aarde,aarde,1,"(tf.Tensor(0.105546534, shape=(), dtype=float3...",0,0,...,0,0,0,0,0,0,0,0,0,0